{% load static %}
{% block content %}
<section class="section-content-block section-custom-bg" data-bg_img='images/testimony_feat_bg.jpg' data-bg_size='cover' data-bg_position='top center' data-bg_opacity="0">

            <div class="container theme-custom-box-shadow  section-pure-white-bg margin-top-48 margin-bottom-48 wow fadeInUp">

                <div class="row">

                    <div class="col-lg-6 col-md-12 col-sm-12">

                        <div class="testimonial-container owl-carousel text-left" data-items  ="1">

                            <div class="col-md-12 col-sm-12">

                                <div class="testimony-layout-1">
                                    <h3 class="people-quote">কারা রক্তদান করতে পারবেন? </h3>
                                   <p style="text-align:justify;">
                                   <ul class="custom-bullet-list">
                                        <li>১৮ বছর থেকে ৬০ বছরের যেকোনো সুস্থদেহের মানুষ রক্ত দান করতে পারবেন।</li>

                                        <li>শারীরিক এবং মানসিক ভাবে সুস্থ নিরোগ ব্যক্তি রক্ত দিতে পারবেন</li>

                                        <li>আপনার ওজন অবশ্যই ৫০ কিলোগ্রাম কিংবা তার বেশি হতে হবে।</li>

                                        <li>নচার (৪) মাস অন্তর অন্তর রক্তদান করা যায়।</li>

                                        <li> রক্তে হিমোগ্লোবিনের পরিমাণ, রক্তচাপ ও শরীরের তাপমাত্রা স্বাভাবিক থাকতে হবে।</li>

                                        <li>শ্বাস-প্রশ্বাসজনিত রোগ এ্যাজমা, হাপানি যাদের আছে তারা রক্ত দিতে পারবেন না।</li>

                                        <li>নরক্তবাহিত জটিল রোগ যেমন-ম্যালেরিয়া, সিফিলিস , গনোরিয়া, হেপাটাইটিস , এইডস, চর্মরোগ , হৃদরোগ , ডায়াবেটিস , টাইফয়েড এবং বাতজ্বর না থাকলে।</li>
                                        <li>আপনাকে চর্মরোগ মুক্ত হতে হবে।</li>
                                        <li>মহিলাদের মধ্যে যারা গর্ভবতী নন এবং যাদের মাসিক চলছে না।</li>
                                        <li>আপনাকে অবশ্যই হেপাটাইটিস-বি, হেপাটাইটিস-সি, এইডস, ক্যান্সার, যক্ষা, সিজোফ্রেনিয়া এবং ম্যালেরিয়া রোগমুক্ত হতে হবে। তবে কিছু রোগ আগে যেগুলোতে আক্রান্ত রোগীরা নির্দিষ্ট সময় পর রক্ত দিতে পারেন। যেমন, টাইফয়েডে আক্রান্ত রোগী-১২ মাস, ম্যালেরিয়ার রোগী-তিন মাস পর রক্ত দিতে পারবেন।</li>
                                        <li>কোন বিশেষ ধরনের ঔষধ ব্যবহার না করলে। যেমন- এ্যান্টিবায়োটিক।</li>

                       </ul></p>

                                </div> <!-- end .testimony-layout-1  -->

                            </div>



                             <div class="col-md-12 col-sm-12">

                                <div class="testimony-layout-1">
                                    <h3 class="people-quote">কেন রক্তদান করবেন? </h3>
                                   <p style="text-align:justify;">
                                   <ul class="custom-bullet-list">
                                        <li>প্রথম এবং প্রধান কারণ, আপনার দানকৃত রক্ত একজন মানুষের জীবন বাঁচাবে। রক্তদানের জন্য এর থেকে বড় কারণ আর কি হতে পারে !</li>

                                        <li>হয়তো একদিন আপনার নিজের প্রয়োজনে/বিপদে অন্য কেউ এগিয়ে আসবে।</li>

                                        <li>নিয়মিত রক্তদানে হৃদরোগ ও হার্ট অ্যাটাকের ঝুঁকি অনেক কম।</li>

                                        <li>নিয়মিত স্বেচ্ছায় রক্তদানের মাধ্যমে বিনা খরচে জানা যায় নিজের শরীরে বড় কোনো রোগ আছে কিনা। যেমন : হেপাটাইটিস-বি, হেপাটাইটিস-সি, সিফিলিস, এইচআইভি (এইডস) ইত্যাদি।</li>

                                        <li>দেহের রোগ প্রতিরোধ ক্ষমতা অনেকগুন বেড়ে যায়।</li>

                                        <li>রক্তদান ধর্মীয় দিক থেকে অত্যন্ত পুণ্যের বা সওয়াবের কাজ। পবিত্র কোরআনের সূরা মায়েদার ৩২ নং আয়াতে আছে, ‘একজন মানুষের জীবন বাঁচানো সমগ্র মানব জাতির জীবন বাঁচানোর মতো মহান কাজ।’</li>

                                        <li>নিজের মাঝে একধরনের আত্মতৃপ্তি উপলব্ধি করতে পারবেন । "আমাদের ছোট পরিসরের এই জীবনে কিছু একটা করলাম" এই অনুভুতি আপনার মনে জাগ্রত হবে এই ব্যাপারে নিশ্চিত করছি </li></ul></p>

                                </div> <!-- end .testimony-layout-1  -->

                            </div>



 <div class="col-md-12 col-sm-12">

                                <div class="testimony-layout-1">
                                    <h3 class="people-quote"> কিছু  ভুল  ধারনা  </h3>
                                   <p style="text-align:justify;">
                                   <ul class="custom-bullet-list">
                                         <li>রক্ত দান করার সময় মোটেও ব্যথা লাগে না। শুধূমাত্র সূচ ফোটানোর সময় অল্প একটু অস্বস্তি লাগে।</li>

                                        <li>শ রক্তদানের পর স্বাস্থ্য খারাপ হয়ে যাবে - এটি ভুল ধারণা। আসলে রক্তদান করলে হৃদরোগের ঝুঁকি কমে এবং দেহে মাত্রাতিরিক্ত আয়রন বা লৌহ সঞ্চয় প্রতিরোধ করে।</li>

                                        <li>ডায়াবেটিসে আক্রান্ত ব্যক্তি রক্ত দিতে পারবে না - এটিও ভুল ধারণা। স্বাস্থ্য পরীক্ষায় যোগ্য বিবেচিত হলে, ডায়াবেটিসে আক্রান্ত ব্যক্তি ততক্ষণ রক্ত দান করতে পারবেন, যতক্ষণ ওই ব্যক্তির রক্তের গ্লুকোজ লেভেল স্বীকৃত সীমার মধ্যে থাকবে।</li>

                                        <li> উচ্চরক্তচাপের কারণে রক্তদান করা যায় না - এটিও ভুল ধারণা। রক্তদানের সময় ব্লাডপ্রেসার ১৮০সিষ্টোলিক ও ১০০ডায়াষ্টোলিকের মাঝে থাকলে রক্ত দেওয়া যায়।</li>

                                        <li> রক্তদানের পর আপনি কোনো প্রকার অসস্থি বোধ করবেন না কিংবা অজ্ঞান হয়ে যাবেন না। এই ব্যাপারে অনেকের ভুল ধারণা রয়েছে।</li>
                                        </ul>
                                         </p>

                                </div> <!-- end .testimony-layout-1  -->

                            </div>

                            <!--  end col-md-10  -->

                            <!--  end col-md-10  -->

                        </div>  <!--  end .row  -->
                    </div>

                    <div class="col-lg-6 hidden-md hidden-xs hidden-sm no-padding">
                        <figure>
                            <img src="{% static 'images/testimony_feat_img.jpg' %}" alt="" class="db"/>
                        </figure>
                    </div>

                </div>



            </div> <!-- end .container  -->

        </section>
{% endblock %}