{% load static %}
{% block content %}
<div id="preloader">
            <span class="margin-bottom"><img src="images/loader.gif" alt="" /></span>
        </div>

        <!--  HEADER -->

        <header class="main-header clearfix" data-sticky_header="true">

            <div class="top-bar clearfix">

                <div class="container">

                    <div class="row">

                        <div class="col-md-8 col-sm-12">

                            <p>
                                <span><i class="fa fa-building-o"></i> <strong>Name: </strong> toma </span>
                                <span>&nbsp;<i class="fa fa-phone"></i> <strong>Call Us:</strong> +88017000000</span>
                            </p>




                        </div>

                        <div class="col-md-4col-sm-12">
                            <div class="top-bar-social">
                                <a href="#"><i class="fa fa-facebook rounded-box"></i></a>
                                <a href="#"><i class="fa fa-twitter rounded-box"></i></a>
                                <a href="#"><i class="fa fa-google-plus rounded-box"></i></a>
                                <a href="#"><i class="fa fa-instagram rounded-box"></i></a>
                                <a href="#"><i class="fa fa-youtube rounded-box"></i></a>
                            </div>
                        </div>

                    </div>

                </div> <!--  end .container -->

            </div>
        </header>
    <!--  end .top-bar  -->
          {% endblock %}
