{% load static %}
{% block content %}

    <section class="section-content-block">

            <div class="container">

                <div class="row">

                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">

                        <div class="about-us-container theme-custom-box-shadow">
                        <div class="row section-heading-wrapper margin-bottom-11">
                         <div class="col-lg-12 col-md-12 col-sm-12 text-left no-img-separator">
                            <h2><strong>কারা রক্তদান করতে পারবেন?</strong></h2>
                           <span class="heading-separator heading-separator-horizontal"></span>
                    </div>
                       </div>
                             <div class="about-details">
                                <p style="text-align:justify;">
                                   <ul class="custom-bullet-list">
                                        <li>১৮ বছর থেকে ৬০ বছরের যেকোনো সুস্থদেহের মানুষ রক্ত দান করতে পারবেন।</li>

                                        <li>শারীরিক এবং মানসিক ভাবে সুস্থ নিরোগ ব্যক্তি রক্ত দিতে পারবেন</li>

                                        <li>আপনার ওজন অবশ্যই ৫০ কিলোগ্রাম কিংবা তার বেশি হতে হবে।</li>

                                        <li>নচার (৪) মাস অন্তর অন্তর রক্তদান করা যায়।</li>

                                        <li> রক্তে হিমোগ্লোবিনের পরিমাণ, রক্তচাপ ও শরীরের তাপমাত্রা স্বাভাবিক থাকতে হবে।</li>

                                        <li>শ্বাস-প্রশ্বাসজনিত রোগ এ্যাজমা, হাপানি যাদের আছে তারা রক্ত দিতে পারবেন না।</li>

                                        <li>নরক্তবাহিত জটিল রোগ যেমন-ম্যালেরিয়া, সিফিলিস , গনোরিয়া, হেপাটাইটিস , এইডস, চর্মরোগ , হৃদরোগ , ডায়াবেটিস , টাইফয়েড এবং বাতজ্বর না থাকলে।</li>
                                        <li>আপনাকে চর্মরোগ মুক্ত হতে হবে।</li>
                                        <li>মহিলাদের মধ্যে যারা গর্ভবতী নন এবং যাদের মাসিক চলছে না।</li>
                                        <li>আপনাকে অবশ্যই হেপাটাইটিস-বি, হেপাটাইটিস-সি, এইডস, ক্যান্সার, যক্ষা, সিজোফ্রেনিয়া এবং ম্যালেরিয়া রোগমুক্ত হতে হবে। তবে কিছু রোগ আগে যেগুলোতে আক্রান্ত রোগীরা নির্দিষ্ট সময় পর রক্ত দিতে পারেন। যেমন, টাইফয়েডে আক্রান্ত রোগী-১২ মাস, ম্যালেরিয়ার রোগী-তিন মাস পর রক্ত দিতে পারবেন।</li>
                                        <li>কোন বিশেষ ধরনের ঔষধ ব্যবহার না করলে। যেমন- এ্যান্টিবায়োটিক।</li>

                       </ul></p>

                             </div>
                  </div>
                  </div>

                    <div class="col-lg-6 hidden-md hidden-xs hidden-sm no-padding">
                        <figure>
                            <img src="{% static 'images/testimony_feat_img.jpg' %}" alt="" class="db"/>
                        </figure>
                    </div>

        </div>
    </div>
    </section>
{% endblock %}