{% load static %}
{% block content %}
   <section class="section-content-block">

            <div class="container">

                <div class="row">

                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">

                        <div class="about-us-container theme-custom-box-shadow">
                        <div class="row section-heading-wrapper margin-bottom-11">
                         <div class="col-lg-12 col-md-12 col-sm-12 text-left no-img-separator">
                            <h2><strong>কারা রক্তদান করতে পারবেন?</strong></h2>
                           <span class="heading-separator heading-separator-horizontal"></span>
                    </div>
                        </div>
                       <div class="about-details">

                                <p style="text-align:justify;">
                                   <ul class="custom-bullet-list">
                                        <li>রক্ত দান করার সময় মোটেও ব্যথা লাগে না। শুধূমাত্র সূচ ফোটানোর সময় অল্প একটু অস্বস্তি লাগে।</li>

                                        <li>শ রক্তদানের পর স্বাস্থ্য খারাপ হয়ে যাবে - এটি ভুল ধারণা। আসলে রক্তদান করলে হৃদরোগের ঝুঁকি কমে এবং দেহে মাত্রাতিরিক্ত আয়রন বা লৌহ সঞ্চয় প্রতিরোধ করে।</li>

                                        <li>ডায়াবেটিসে আক্রান্ত ব্যক্তি রক্ত দিতে পারবে না - এটিও ভুল ধারণা। স্বাস্থ্য পরীক্ষায় যোগ্য বিবেচিত হলে, ডায়াবেটিসে আক্রান্ত ব্যক্তি ততক্ষণ রক্ত দান করতে পারবেন, যতক্ষণ ওই ব্যক্তির রক্তের গ্লুকোজ লেভেল স্বীকৃত সীমার মধ্যে থাকবে।</li>

                                        <li> উচ্চরক্তচাপের কারণে রক্তদান করা যায় না - এটিও ভুল ধারণা। রক্তদানের সময় ব্লাডপ্রেসার ১৮০সিষ্টোলিক ও ১০০ডায়াষ্টোলিকের মাঝে থাকলে রক্ত দেওয়া যায়।</li>

                                        <li> রক্তদানের পর আপনি কোনো প্রকার অসস্থি বোধ করবেন না কিংবা অজ্ঞান হয়ে যাবেন না। এই ব্যাপারে অনেকের ভুল ধারণা রয়েছে।</li>
                                        </ul>
                                         </p>

        </div>
        </div>
    </div>
                    <div class="col-lg-6 hidden-md hidden-xs hidden-sm no-padding">
                        <figure>
                            <img src="{% static 'images/testimony_feat_img.jpg' %}" alt="" class="db"/>
                        </figure>
                    </div>
    </div>
    </div>
    </section>
{% endblock %}