{% extends 'base.html' %}
{% load static %}
{% block content %}
   <!--  HOME SLIDER BLOCK  -->
{% include 'partials/_banner.html' %}
{% include 'partials/_WhoWeAre.html' %}
   {% include 'partials/_all_info.html' %}
        <!--  FEATURED ABOUT US SECTION-->

        <!-- SECTION TESTIMONIAL   -->

        <section class="section-content-block section-custom-bg" data-bg_img='images/testimony_feat_bg.jpg' data-bg_size='cover' data-bg_position='top center' data-bg_opacity="0">

            <div class="container margin-top-80">
                <div class="row section-heading-wrapper-alt">

                    <div class="col-md-12 col-sm-12 text-center no-img-separator">
                        <h4>Awesome Words From Members</h4>
                        <span class="heading-separator heading-separator-horizontal"></span>
                        <h2 class="extra-large">  আমাদের  সাথে  থাকুন  এবং  জীবন  বাঁচাতে  এগিয়ে  আসুন  </h2>

                    </div> <!-- end .col-sm-10  -->

                </div>
            </div>

            <div class="container theme-custom-box-shadow  section-pure-white-bg margin-top-48 margin-bottom-48 wow fadeInUp">

                <div class="row">

                    <div class="col-lg-6 col-md-12 col-sm-12">

                        <div class="testimonial-container owl-carousel text-left" data-items  ="1">

                            <div class="col-md-12 col-sm-12">

                                <div class="testimony-layout-1">
                                    <h3 class="people-quote">রক্ত  দাতার  কিছু  কথা </h3>
                                    <p class="testimony-text">
                                        আমি  নিয়মিত  রক্ত দান  করার  চেষ্টা  করি  কারণ আমার   রক্ত  দানে বেঁচে  যেতে পারে  একটি  প্রাণ  । তাই  আপনারা ও  চেষ্টা  করুন নিয়মিত  রক্ত দান  করতে
                                    </p>

                                    <img src="{% static 'images/user_1.jpg' %}" alt="" />
                                    <h6>  জব্বার  </h6>
                                    <span>CTO, Fulcrum Design, USA</span>

                                </div> <!-- end .testimony-layout-1  -->

                            </div> <!--  end col-md-10  -->

                            <div class="col-md-12 col-sm-12">

                                <div class="testimony-layout-1">
                                    <h3 class="people-quote"> রক্ত  গ্রহীতার  কিছু  কথা </h3>
                                    <p class="testimony-text">
                                         ধন্যবাদ  আপনাদের  আমাদের  বিপদে  পাশে থাকার  জন্য
                                    </p>

                                    <img src="{% static 'images/user_3.jpg' %}" alt="" />
                                    <h6> আবুল </h6>
                                    <span></span>

                                </div> <!-- end .testimony-layout-1  -->

                            </div> <!--  end col-md-10  -->

                        </div>  <!--  end .row  -->
                    </div>

                    <div class="col-lg-6 hidden-md hidden-xs hidden-sm no-padding">
                        <figure>
                            <img src="{% static 'images/testimony_feat_img.jpg' %}" alt="" class="db"/>
                        </figure>
                    </div>

                </div>



            </div> <!-- end .container  -->

        </section>

        <!--  SECTION CAMPAIGNS   -->

        <section class="section-content-block section-pure-white-bg" >

            <div class="container">


                <div class="row">

                    <div class="col-sm-12 col-md-5">

                        <div class="row section-heading-wrapper">

                            <div class="col-md-12 col-sm-12 text-left no-img-separator">
                                <h2> আমাদের  সকল  কর্মসূচি </h2>
                                <span class="heading-separator heading-separator-horizontal"></span>
                                <h4 class="margin-top-24">

                                    <small> আমরা  বাংলা দেশের  প্যতিটি  জেলায়  প্রতি বছর  রক্ত দান কর্মসূচি  পালন  করে  থাকি  ।  আপনিও  যুক্ত  হতে  পারেন  আমাদের  কর্মসূচি গুলোতে  এবং  সাহায্যের  হাত  বারিয়ে দিতে পারেন । </small>
                                </h4>
                                <a class="btn btn-theme margin-top-32" href="#">Load All Campaigns</a>
                            </div> <!-- end .col-sm-12  -->

                        </div> <!-- end .row  -->

                    </div>

                    <div class="col-sm-12 col-md-7">

                        <div class="row wow fadeInRight">

                            <div class="event-carousel owl-carousel"  data-nav="false" data-dots="true" data-items="1">

                                <div class="col-md-6 col-sm-12">
                                    <div class="event-layout-1 theme-custom-box-shadow clearfix">
                                        <figure class="event-img">
                                            <a href="#">
                                                <img src="{% static 'images/event_1.jp' %}" alt="">
                                            </a>
                                        </figure>
                                        <div class="event-info">
                                            <a class="event-date" href="#"><i class="fa fa-calendar-o"></i> 24 February, 2018</a>
                                            <h4>
                                                <a href="#">Opening Donation Day</a>
                                            </h4>
                                            <div class="event-exceprt">Lorem ipsum dolor sit amet turadipi scing elit lobort issim consecte lodign pharetra. Lobort qssim tronsecte diagnosis sharetrx mauris gone do.</div>
                                            <div class="event-time">
                                                <a href="#"><i class="fa fa-clock-o"></i> 10.00 - 3.00</a>
                                                <a href="#"> <i class="fa fa-map-marker"></i> California, USA</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 col-sm-12">
                                    <div class="event-layout-1 theme-custom-box-shadow clearfix">
                                        <figure class="event-img">
                                            <a href="#">
                                                <img src="{% static 'images/event_3.jpg' %}" alt="">
                                            </a>
                                        </figure>
                                        <div class="event-info">
                                            <a class="event-date" href="#"><i class="fa fa-calendar-o"></i> 11 March, 2018</a>
                                            <h4>
                                                <a href="#">Free Group Checking</a>
                                            </h4>
                                            <div class="event-exceprt">Lorem ipsum dolor sit amet turadipi scing elit lobort issim consecte lodign pharetra. Lobort qssim tronsecte diagnosis sharetrx mauris gone do.</div>
                                            <div class="event-time">
                                                <a href="#"><i class="fa fa-clock-o"></i> 10.00 - 3.00</a>
                                                <a href="#"> <i class="fa fa-map-marker"></i> California, USA</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 col-sm-12">
                                    <div class="event-layout-1 theme-custom-box-shadow clearfix">
                                        <figure class="event-img">
                                            <a href="#">
                                                <img src="{% static 'images/event_3.jp' %}" alt="">
                                            </a>
                                        </figure>
                                        <div class="event-info">
                                            <a class="event-date" href="#"><i class="fa fa-calendar-o"></i> 14 June, 2018</a>
                                            <h4>
                                                <a href="#">Blood Group Collection</a>
                                            </h4>
                                            <div class="event-exceprt">Lorem ipsum dolor sit amet turadipi scing elit lobort issim consecte lodign pharetra. Lobort qssim tronsecte diagnosis sharetrx mauris gone do.</div>
                                            <div class="event-time">
                                                <a href="#"><i class="fa fa-clock-o"></i> 10.00 - 3.00</a>
                                                <a href="#"> <i class="fa fa-map-marker"></i> California, USA</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 col-sm-12">
                                    <div class="event-layout-1 theme-custom-box-shadow clearfix">
                                        <figure class="event-img">
                                            <a href="#">
                                                <img src="{% static 'images/event_2.jpg' %}" alt="">
                                            </a>
                                        </figure>
                                        <div class="event-info">
                                            <a class="event-date" href="#"><i class="fa fa-calendar-o"></i> 31 July, 2018</a>
                                            <h4>
                                                <a href="#">Blood Donation Camp</a>
                                            </h4>
                                            <div class="event-exceprt">Lorem ipsum dolor sit amet turadipi scing elit lobort issim consecte lodign pharetra. Lobort qssim tronsecte diagnosis sharetrx mauris gone do.</div>
                                            <div class="event-time">
                                                <a href="#"><i class="fa fa-clock-o"></i> 10.00 - 3.00</a>
                                                <a href="#"> <i class="fa fa-map-marker"></i> California, USA</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>

            </div> <!--  end .container  -->

        </section>



        <section class="section-content-block section-secondary-bg">

            <div class="container">

                <div class="row">

                <div class="row wow fadeIn">

                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">

                        <div class="counter-block-1 text-center">

                            <i class="fa fa-heartbeat icon"></i>
                            <span class="counter">2578</span>
                            <h4 class="text-capitalize">Success Smile</h4>

                        </div>

                    </div> <!--  end .col-lg-3  -->

                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">

                        <div class="counter-block-1 text-center">

                            <i class="fa fa-stethoscope icon"></i>
                            <span class="counter">3235</span>
                            <h4 class="text-capitalize">Happy Donors</h4>

                        </div>

                    </div> <!--  end .col-lg-3  -->

                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">

                        <div class="counter-block-1 text-center">

                            <i class="fa fa-users icon"></i>
                            <span class="counter">3568</span>
                            <h4 class="text-capitalize">Happy Recipient</h4>

                        </div>

                    </div> <!--  end .col-lg-3  -->

                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">

                        <div class="counter-block-1 text-center">

                            <i class="fa fa-building icon"></i>
                            <span class="counter">1364</span>
                            <h4 class="text-capitalize">Total Awards</h4>

                        </div>

                    </div> <!--  end .col-lg-3  -->


                </div> <!-- end row  -->

            </div> <!--  end .container -->
            </div>
        </section>  <!--  end .appointment-section  -->

        <!-- SECTION TEAM   -->

        <section class="section-content-block section-custom-bg" data-bg_img='images/team_feat_bg.jpg' data-bg_size='cover' data-bg_position='top center' data-bg_opacity="0">

            <div class="container margin-top-80">
                <div class="row section-heading-wrapper-alt">

                    <div class="col-md-12 col-sm-12 text-center no-img-separator">
                        <h4>OUR VOLUNTEERS</h4>
                        <span class="heading-separator heading-separator-horizontal"></span>
                        <h2 class="extra-large">The volunteers who give their time and talents help to fulfill our mission.</h2>

                    </div> <!-- end .col-sm-10  -->

                </div>
            </div>

            <div class="container margin-top-48 margin-bottom-48 wow fadeInLeft">

                <div class="row">

                        <div class="col-md-4 col-sm-12">

                            <div class="team-layout-1 theme-custom-box-shadow theme-custom-box-animation">

                                <figure class="team-member">
                                    <a href="#" title="ALEXANDER GARY">
                                        <img src="{% static 'images/team_9.jpg' %}" alt="ALEXANDER GARY"/>
                                    </a>

                                </figure> <!-- end. team-member  -->

                                <article class="team-info">
                                    <h3>ALEXANDER GARY</h3>
                                    <h4>Co-Founder</h4>
                                </article>

                                <div class="team-content">

                                    <div class="team-social-share text-center clearfix">
                                        <a class="fa fa-facebook rectangle" href="#" title="Facebook"></a>
                                        <a class="fa fa-twitter rectangle" href="#" title="Twitter"></a>
                                        <a class="fa fa-google-plus rectangle" href="#" title="Google Plus"></a>
                                        <a class="fa fa-linkedin rectangle" href="#" title="Linkedin"></a>
                                    </div> <!-- end .author-social-box  -->

                                </div>

                            </div> <!--  end team-layout-1 -->

                        </div> <!--  end .col-md-4 col-sm-12  -->

                        <div class="col-md-4 col-sm-12">

                            <div class="team-layout-1 theme-custom-box-shadow theme-custom-box-animation">

                                <figure class="team-member">
                                    <a href="#" title="MELISSA MUNOZ">
                                        <img src="{% static 'images/team_6.jpg' %}" alt="MELISSA MUNOZ" />
                                    </a>

                                </figure> <!-- end. team-member  -->

                                <article class="team-info">
                                    <h3>MELISSA MUNOZ</h3>
                                    <h4>Founder</h4>
                                </article>

                                <div class="team-content">

                                    <div class="team-social-share text-center clearfix">
                                        <a class="fa fa-facebook rectangle" href="#" title="Facebook"></a>
                                        <a class="fa fa-twitter rectangle" href="#" title="Twitter"></a>
                                        <a class="fa fa-google-plus rectangle" href="#" title="Google Plus"></a>
                                        <a class="fa fa-linkedin rectangle" href="#" title="Linkedin"></a>
                                    </div> <!-- end .author-social-box  -->

                                </div>

                            </div> <!--  end team layout-1 -->

                        </div> <!--  end .col-md-4 col-sm-12  -->

                        <div class="col-md-4 col-sm-12">

                            <div class="team-layout-1 theme-custom-box-shadow theme-custom-box-animation">

                                <figure class="team-member">
                                    <a href="#" title="JOHN ABRAHAM">
                                        <img src="{% static 'images/team_7.jpg' %}" alt="JOHN ABRAHAM" />
                                    </a>

                                </figure> <!-- end. team-member  -->

                                <article class="team-info">
                                    <h3>JOHN ABRAHAM</h3>
                                    <h4>Manager</h4>
                                </article>
                                <div class="team-content">

                                    <div class="team-social-share text-center clearfix">
                                        <a class="fa fa-facebook rectangle" href="#" title="Facebook"></a>
                                        <a class="fa fa-twitter rectangle" href="#" title="Twitter"></a>
                                        <a class="fa fa-google-plus rectangle" href="#" title="Google Plus"></a>
                                        <a class="fa fa-linkedin rectangle" href="#" title="Linkedin"></a>
                                    </div> <!-- end .author-social-box  -->

                                </div>

                            </div> <!--  end team-layout-1 -->

                        </div> <!--  end .col-md-4 col-sm-12  -->


                    </div> <!-- end .row  -->

                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <a class="btn btn-theme margin-top-24" href="#">Become A Volunteer</a>
                        </div>
                    </div>

            </div> <!-- end .container  -->

        </section>

        <!--  SECTION GALLERY  -->

        <section class="section-content-block section-pure-white-bg">

            <div class="container">

                <div class="row section-heading-wrapper">

                    <div class="col-md-12 col-sm-12 text-center no-img-separator">
                        <h2>CAMPAIGN GALLERY</h2>
                        <span class="heading-separator"></span>
                        <h4>our prestigious voluntary work on campaigns by the team</h4>
                    </div> <!-- end .col-sm-10  -->


                </div> <!-- end .row  -->

            </div> <!--  end .container -->

            <div class="container wow fadeInUp">

                <div class="row no-padding-gallery">

                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 gallery-container">

                        <a class="gallery-light-box"  data-gall="myGallery" href="{% static 'images/gallery_1.jpg' %}">

                            <figure class="gallery-img">

                                <img src="{% static 'images/gallery_1.jpg' %}" alt="gallery image" />

                            </figure> <!-- end .gallery-img  -->

                        </a>

                    </div><!-- end .col-sm-3  -->

                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 gallery-container">

                        <a class="gallery-light-box" data-gall="myGallery" href="{% static 'images/gallery_2.jpg' %}">

                            <figure class="gallery-img">

                                <img src="{% static 'images/gallery_2.jpg' %}" alt="gallery image" />

                            </figure> <!-- end .gallery-img  -->

                        </a> <!-- end .gallery-light-box  -->

                    </div><!-- end .col-sm-3  -->

                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 gallery-container">

                        <a class="gallery-light-box"  data-gall="myGallery" href="{% static 'images/gallery_3.jpg' %}">

                            <figure class="gallery-img">

                                <img src="{% static 'images/gallery_3.jpg' %}" alt="gallery image" />

                            </figure> <!-- end .gallery-img  -->

                        </a>

                    </div><!-- end .col-sm-3  -->

                </div> <!-- end .row  -->

                <div class="row no-padding-gallery">

                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 gallery-container">

                        <a class="gallery-light-box" data-gall="myGallery" href="{% static 'images/gallery_4.jpg' %}">

                            <figure class="gallery-img">

                                <img src="{% static 'images/gallery_4.jpg' %}" alt="gallery image" />

                            </figure> <!-- end .gallery-img  -->

                        </a> <!-- end .gallery-light-box  -->

                    </div><!-- end .col-sm-3  -->

                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 gallery-container">

                        <a class="gallery-light-box"  data-gall="myGallery" href="{% static 'images/gallery_5.jpg' %}">

                            <figure class="gallery-img">

                                <img src="{% static 'images/gallery_5.jpg' %}" alt="gallery image" />

                            </figure> <!-- end .gallery-img  -->

                        </a>

                    </div><!-- end .col-sm-3  -->

                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 gallery-container">

                        <a class="gallery-light-box" data-gall="myGallery" href="{% static 'images/gallery_6.jpg' %}">

                            <figure class="gallery-img">

                                <img src="{% static 'images/gallery_6.jpg' %}" alt="gallery image" />

                            </figure> <!-- end .gallery-img  -->

                        </a> <!-- end .gallery-light-box  -->

                    </div><!-- end .col-sm-3  -->

                </div> <!-- end .row  -->

            </div><!-- end .container-fluid  -->

        </section> <!-- end .section-content-block  -->

        <!-- HIGHLIGHT CTA  -->

        <section class="padding-bottom-100 padding-top-0">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="cta-section-1 section-secondary-bg text-center theme-custom-box-shadow">
                            <h2 class="text-capitalize">Become A Part Of Great Work Today</h2>
                            <p>
                                You can give blood at any of our blood donation venues all over the world.
                                <br />
                                We have total sixty thousands donor centers and visit thousands of other venues on various occasions.
                            </p>
                            <a class="btn btn-theme margin-top-24 wow bounceIn" href="#">JOIN WITH US</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

{% endblock %}