{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="section-content-block section-secondary-bg">

            <div class="container">

                <div class="row">

                    <div class="col-sm-6 wow fadeInLeft">

                        <div class="contact-form-block">

                            <h2 class="contact-title">রক্তদাতা খুজে নিন এখান থেকে</h2>

                            <form role="form" action="#" method="post" id="contact-form">
                            <div class="form-group col-md-6">
                                <select class="form-control" placeholder="Select_Blood_Group" id="blood_group">
                                       <option value="Group">Select Your Blood Group</option>
                                       <option value="A+">A+</option>
                                       <option value="A-">A-</option>
                                       <option value="B+">B+</option>
                                       <option value="B+">B-</option>
                                       <option value="B+">AB+</option>
                                       <option value="B+">AB-</option>
                                       <option value="B+">O+</option>
                                       <option value="B+">O-</option>
                                   </select>
                               </div>


                                  <div class="form-group col-md-6">
                                    <select class="form-control" placeholder="District" id="District">
                                       <option value="Group">Select Your District</option>
                                       <option value="Dhaka">Dhaka</option>
                                       <option value="Rangpur">Rangpur</option>
                                       <option value="Kurigram">Kurigram</option>
                                       <option value="Jhalokati">Jhalokati</option>
                                       <option value="Chittagong">Chittagong</option>
                                       <option value="Rajshahi">Rajshahi</option>
                                       <option value="Khulna">Khulna</option>
                                       <option value="Rangpur">Rangpur</option>
                                       <option value="Sylhet">Sylhet</option>
                                       <option value="Barisal">Barisal</option>
                                       <option value="Comilla">Comilla</option>
                                       <option value="Coxs Bazar">Coxs Bazar</option>
                                       <option value="Barguna">Barguna</option>
                                       <option value="Bhola">Bhola</option>
                                       <option value="Patuakhali">Patuakhali</option>
                                       <option value="Pirojpur">Pirojpur</option>
                                       <option value="Bandarban">Bandarban</option>
                                       <option value="Brahmanbaria">Brahmanbaria</option>
                                       <option value="Chandpur">Chandpur</option>
                                       <option value="Feni">Feni</option>
                                       <option value="Khagrachhari">Khagrachhari</option>
                                       <option value="Lakshmipur">Lakshmipur</option>
                                       <option value="Noakhali">Noakhali</option>
                                       <option value="Rangamati">Rangamati</option>
                                       <option value="Faridpur">Faridpur</option>
                                       <option value="Gazipur">Gazipur</option>
                                       <option value="Gopalganj">Gopalganj</option>
                                       <option value="Jamalpur">Jamalpur</option>
                                       <option value="Kishoreganj">Kishoreganj</option>
                                       <option value="Madaripur">Madaripur</option>
                                       <option value="Manikganj">Manikganj</option>
                                       <option value="Munshiganj">Munshiganj</option>
                                       <option value="Mymensingh">Mymensingh</option>
                                       <option value="Narayanganj">Narayanganj</option>
                                       <option value="Narsingdi">Narsingdi</option>
                                       <option value="Shariatpur">Rajbari</option>
                                       <option value="Sherpur">Sherpur</option>
                                       <option value="Bagerhat">Bagerhat</option>
                                       <option value="Tangail">Tangail</option>
                                       <option value="Chuadanga">Chuadanga</option>
                                       <option value="Jessore">Jessore</option>
                                       <option value="Jhenaidah">Jhenaidah</option>
                                       <option value="Kushtia">Kushtia</option>
                                       <option value="Magura">Magura</option>
                                       <option value="Narail">Narail</option>
                                       <option value="Bogra">Bogra</option>
                                       <option value="Joypurhat">Joypurhat</option>
                                       <option value="Natore">Natore</option>
                                       <option value="Nawabganj">Nawabganj</option>
                                       <option value="Sunamganj">Sunamganj</option>
                                       <option value="Thakurgaon">Thakurgaon</option>
                                       <option value="Pabna">Pabna</option>
                                       <option value="Dinajpur">Dinajpur</option>
                                       <option value="Lalmonirhat">Lalmonirhat</option>
                                   </select>
                                    </div>
                               <div class="text-center">
                                   <button type="button" style="text-align: center;" class="btn btn-info"> Search </button>
                                </div>
                            </form>

                        </div>

                    </div>
                </div>
            </div></section>
{% endblock %}